{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}
{% assign icon_width = block_settings.icon_width %}

{% if block_settings.icon != blank %}
  <style>
    .button--{{ block.id }}  img,
    .button-secondary--{{ block.id }} img {
      width: {{icon_width}}px;
    }
  </style>
{% endif %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block_settings.style_class }} {{ block_settings.custom_css }}
    {{ block_settings.style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  {{ block_settings.label }}

  {% if block_settings.icon != blank or block_settings.svg != blank %}
    <span class="icon">
      {% if block_settings.svg != blank %}
        {{ block_settings.svg }}
      {% else %}
        {{ block_settings.icon | image_url: width: block_settings.icon_width, height: '24' | image_tag }}
      {% endif %}
    </span>
  {% endif %}
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
{% endstylesheet %}

<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.14258 14.8574C1.14258 16.6583 1.49731 18.4417 2.18652 20.1056C2.87572 21.7695 3.88591 23.2813 5.1594 24.5548C6.43289 25.8283 7.94474 26.8385 9.60863 27.5277C11.2725 28.2169 13.0559 28.5716 14.8569 28.5716C16.6579 28.5716 18.4412 28.2169 20.1051 27.5277C21.769 26.8385 23.2808 25.8283 24.5543 24.5548C25.8278 23.2813 26.838 21.7695 27.5272 20.1056C28.2164 18.4417 28.5712 16.6583 28.5712 14.8574C28.5712 13.0564 28.2164 11.273 27.5272 9.60912C26.838 7.94523 25.8278 6.43338 24.5543 5.15989C23.2808 3.8864 21.769 2.87621 20.1051 2.187C18.4412 1.4978 16.6579 1.14307 14.8569 1.14307C13.0559 1.14307 11.2725 1.4978 9.60863 2.187C7.94474 2.87621 6.43289 3.8864 5.1594 5.15989C3.88591 6.43338 2.87572 7.94523 2.18652 9.60912C1.49731 11.273 1.14258 13.0564 1.14258 14.8574Z" stroke="black" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M8.12305 9.91293C13.5676 8.87293 17.8328 9.45122 23.003 12.2032M10.2373 19.1426C12.8705 18.8181 14.6602 19.1701 17.1059 20.2855M9.23162 14.3998C13.3093 13.5884 16.1596 14.3998 20.4636 16.4775" stroke="black" stroke-width="2.28571" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
