{% stylesheet %}
  .litle-extra-container {
    margin-top: auto;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .cart-drawer__summary {
    margin-top: unset;
  }

  .litle-extra-container {
    padding: 20px 77px;
  }

  .litle-extra-container p {
    margin-top: unset;
    color: #5c5c5c;
  }

  .litle-extra-container h5 {
    margin-bottom: unset;
    text-transform: uppercase;
    font-weight: 600;
  }

  .litle-extra-header {
    margin-bottom: 25px;
  }

  .litle-extra-container .embla__container img {
    width: 100%;
    height: 165px;
    margin-bottom: 6px;
  }

  .litle-extra-container .embla__button {
    width: 40px !important;
    height: 40px !important;
  }

  .litle-extra-container h6 {
    margin-bottom: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 14px;
  }

  .litle-extra-container .price {
    font-weight: 600;
  }

  @media only screen and (max-width: 767px) {
    .litle-extra-container {
      padding: 20px 20px;
    }
  }
{% endstylesheet %}

<div class="litle-extra-container embla cols-3 cols-2-half-m gap-6 dark-arrows absolute-arrows">
  <div class="flex justify-between litle-extra-header accordion-toggle">
    <div class="texts">
      <h5>Add a little extra</h5>
      <p>add one or more of these items to get free delivery</p>
    </div>
  </div>

  <div class="embla__viewport accordion-content">
    <div class="embla__container">
      {% paginate collections['all-products'].products by 10 %}
        {% for product in collections['all-products'].products %}
          <div class="embla__item relative">
            {{ product.featured_image | image_url: width: 250, height: 250 | image_tag: class: 'img-cover' }}
            <h6>{{ product.title }}</h6>
            <div class="flex price">
              {{ product.price | money }}
            </div>
            {% render 'plus-icon-add-to-cart', product: product %}
          </div>
        {% endfor %}
      {% endpaginate %}
    </div>
  </div>

  <div class="buttons flex">
    <div class="embla__button embla__button--prev">
      {{ 'icon-chevron-left.svg' | inline_asset_content }}
    </div>
    <div class="embla__button embla__button--next">
      {{ 'icon-chevron-right.svg' | inline_asset_content }}
    </div>
  </div>
</div>

<script src="{{ 'embla-carousel.umd.js' | asset_url }}" defer></script>
<script src="{{ 'mount-embla.js' | asset_url }}" defer></script>
