{% liquid
  assign products = collection.products
%}

{% stylesheet %}
  .litle-extra-container {
    margin-top: auto;
    background-color: #f5f5f5;
  }

  .cart-drawer__summary {
    margin-top: unset;
  }

  .litle-extra-container {
    padding: 33px 20px;
  }

  .litle-extra-container p {
    margin-top: unset;
    color: #5c5c5c;
  }

  .litle-extra-container h5 {
    margin-bottom: unset;
    text-transform: uppercase;
    font-weight: 600;
  }
{% endstylesheet %}

<div class="litle-extra-container embla">
  <div class="flex justify-between litle-extra-header">
    <div class="texts">
      <h5>Add a little extra</h5>
      <p>add one or more of these items to get free delivery</p>
    </div>

    <div class="buttons flex">
      <div class="embla__button embla__button--prev">
        {{ 'icon-chevron-left.svg' | inline_asset_content }}
      </div>
      <div class="embla__button embla__button--next">
        {{ 'icon-chevron-right.svg' | inline_asset_content }}
      </div>
    </div>
  </div>

  <div class="embla__viewport">
    <div class="embla__container">
      {% for product in products %}
        {% if product.available %}
          <div class="embla__item">
            {{ product.featured_image | image_url: width: 250, height: 250 | image_tag }}
            <h6>{{ product.title }}</h6>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ 'embla-carousel.umd.js' | asset_url }}" defer></script>
<script src="{{ 'mount-embla.js' | asset_url }}" defer></script>
