{% liquid
  assign id = 'now' | date: '%N' | modulo: 100
%}

{% liquid
  assign class = 'add-to-cart-button '
  assign id = 'BuyButtons-ProductSubmitButton-' | append: id

  assign product_variant_media = product.selected_or_first_available_variant.featured_media.preview_image | image_url: width: 100
  if product.selected_or_first_available_variant.featured_media.preview_image == blank
    assign product_variant_media = product.featured_media.preview_image | image_url: width: 100
  endif
%}

<add-to-cart-component
  ref="addToCartButtonContainer"
  data-product-variant-media="{{ product_variant_media }}"
  data-add-to-cart-animation="{{ true }}"
>
  <button
    {% if id != blank %}
      id="{{ id }}"
    {% endif %}
    type="submit"
    name="add"
    ref="addToCartButton"
    on:click="/handleClick"
    class="button"
    {% if data_testid %}
      data-testid="{{ data_testid }}"
    {% endif %}
  >
    <span
      class="add-to-cart-text"
    >
      <span
        aria-hidden="true"
        class="svg-wrapper add-to-cart-icon"
      >
        {{- 'icon-add-to-cart.svg' | inline_asset_content -}}
      </span>

      <span class="add-to-cart-text__content">
        <span>
          <span> testing </span>
        </span>
      </span>
    </span>
    {% comment %} checkmark burst markup {% endcomment %}
    <span class="add-to-cart__added">
      <span class="svg-wrapper add-to-cart__added-icon">
        {{- 'icon-checkmark-burst.svg' | inline_asset_content -}}
      </span>
    </span>
  </button>
</add-to-cart-component>
