{% assign featured_article = null %}

{% for article in blog.articles %}
  {% if article.tags contains 'featured' %}
    {% assign featured_article = article %}
    {% break %}
  {% endif %}
{% endfor %}

{% stylesheet %}
  .featured-post-content {
    background-color: #f9f9f9;
    padding: 30px 50px;
  }

  .featured-post-wrapper img {
    height: 321px;
    width: 100%;
  }

  .featured-post-wrapper .meta {
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  .featured-post-wrapper .read-article {
    padding: 8px 14px;
    border-radius: 3px;
    font-weight: 600;
    background-color: black;
    color: white;
    display: inline-flex;
  }

  .featured-post-wrapper .read-article:hover {
    background-color: #fb0102;
  }

  .featured-post-wrapper .tags {
    gap: 12px;
  }

  .featured-post-wrapper .tags span {
    padding: 7px 18px;
    border-radius: 3px;
    border: 1px solid black;
  }

  .featured-post-wrapper .featured {
    background-color: #fb0101;
    border-color: #fb0101 !important;
  }

  @media only screen and (max-width: 767px) {
    .featured-post-content {
      padding: 20px 20px;
    }
  }
{% endstylesheet %}

{% if featured_article %}
  <div class="featured-post-wrapper">
    <a href="{{ featured_article.url }}">
      {{
        featured_article.image
        | image_url: width: featured_article.image.width, height: featured_article.image.height
        | image_tag: class: 'img-cover'
      }}
    </a>
    <div class="featured-post-content">
      <div class="flex meta col-m">
        <div class="date flex items-center">
          <span class="icon">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.493 1.48705H14.0059V0.726233C14.0059 0.242078 13.7638 0 13.2797 0C12.7955 0 12.5535 0.242078 12.5535 0.726233V1.48705H5.1528V0.726233C5.1528 0.242078 4.91072 0 4.42656 0C3.94241 0 3.70033 0.242078 3.70033 0.726233V1.48705H2.21328C1.5908 1.48705 1.06629 1.71183 0.639777 2.16141C0.213259 2.61098 0 3.14701 0 3.76949V16.15C0 16.5881 0.144094 16.957 0.432281 17.2567C0.720469 17.5564 1.07206 17.7062 1.48705 17.7062H16.2192C16.6342 17.7062 16.9858 17.5564 17.274 17.2567C17.5622 16.957 17.7062 16.5881 17.7062 16.15V3.76949C17.7062 3.14701 17.493 2.61098 17.0665 2.16141C16.64 1.71183 16.1155 1.48705 15.493 1.48705ZM16.2192 16.2192H1.48705V5.91361H16.2192V16.2192ZM16.2192 4.42656H1.48705V3.76949C1.48705 3.53894 1.55621 3.34298 1.69454 3.18159C1.83287 3.02021 2.00579 2.93951 2.21328 2.93951H15.493C15.7005 2.93951 15.8734 3.02021 16.0117 3.18159C16.15 3.34298 16.2192 3.53894 16.2192 3.76949V4.42656Z" fill="black"/>
            </svg>
          </span>
          {{ featured_article.created_at | date: '%m.%d.%Y' }}
        </div>

        <div class="tags flex">
          {% for tag in featured_article.tags %}
            <span class="{{ tag }}">
              {{ tag -}}
            </span>
          {% endfor %}
        </div>
      </div>

      <div class="big-h2">
        <h2>
          <a href="{{ featured_article.url }}">{{ featured_article.title }}</a>
        </h2>
        <p>{{ featured_article.excerpt_or_content }}</p>
        <a class="flex read-article items-center" href="{{ featured_article.url }}">
          Read Article
          <span class="icon">
            <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.53288 0L0 1.53293L4.96707 6.5L0 11.4671L1.53288 13L8.03288 6.5L1.53288 0Z" fill="currentColor"/>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "featured post",
  "class": "featured-post",
  "settings": [],
  "presets": [
    {
      "name": "featured post"
    }
  ]
}
{% endschema %}
