{% stylesheet %}
{% endstylesheet %}

<div class="section section section--page-width">
  <div class="heading">{{ section.settings.heading }}</div>

  <div class="collections tabs-container">
    <div class="tabs__list" role="tablist" aria-label="collections">
      {% for collection in section.settings.collection_list %}
        <button
          class="tabs__tab button-secondary"
          id="tab-{{ forloop.index }}"
          role="tab"
          aria-selected="true"
          aria-controls="panel-{{ forloop.index }}"
        >
          {{ collection.title }}
        </button>
      {% endfor %}
    </div>

    <div class="tabs__panels">
      {% for collection in section.settings.collection_list %}
        <div
          class="tabs__panel"
          id="panel-{{ forloop.index }}"
          role="tabpanel"
          aria-labelledby="tab-{{ forloop.index }}"
        >
          {% for product in collection.products %}
            {% content_for 'block', type: '_product-card', id: 'static-product-card', closest.product: product %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ 'embla-carousel.umd.js' | asset_url }}" defer></script>
<script src="{{ 'mount-embla.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "collection tabs",
  "class": "collection-tabs",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "BG Color"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "collection_list",
      "id": "collection_list",
      "label": "Collections",
      "limit": 8
    }
  ],
  "presets": [
    {
      "name": "collections tabs"
    }
  ]
}
{% endschema %}
