{% stylesheet %}
  .popup-content-custom {
    background-color: white;
    padding-top: 25px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 77px;
  }
{% endstylesheet %}

<div class="hide">
  <div class="popup-content-custom">
    <h2>{{ section.settings.title }}</h2>
    {{ section.settings.content }}

    <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
  </div>
</div>

<script src="{{ 'popup.min.js' | asset_url }}" defer></script>
<script defer></script>

{% schema %}
{
  "name": "Popup Welcome",
  "class": "popup-welcome",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Popup Welcome"
    }
  ]
}
{% endschema %}
